:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --body-color: linear-gradient(
    85.2deg,
    rgba(33, 3, 40, 1) 7.5%,
    rgba(65, 5, 72, 1) 88.7%
  );
}
body {
  background: var(--body-color);
}

h1,
h2,
h3 {
  margin: 0;
  color: #c5b3e6;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #c5b3e6;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px auto;
  text-align: center;
  max-width: 80%;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
}
#ginelle {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.form_container {
  padding: 15px 20px;
  background-color: #9575de;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 30px 0px rgb(214, 109, 214);
  margin-top: 20px;
}
.hint {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.8;
}
.input_element {
  padding: 16px;
  border: 1px solid #3b1e54;
  width: 80%;
  font-size: 16px;
  border-radius: 20px;
  line-height: 20px;
  color: #3b1e54;
}
.submit_button {
  margin-left: 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  width: 120px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}
.question {
  font-size: 16px;
  background-image: url(images/purple_sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--secondary-color);
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid rgb(36, 23, 65);
  box-shadow: 0px 4px 30px 0px rgb(214, 109, 214);
}
.hidden {
  display: none;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
  color: var(--secondary-color);
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
